.row {
    grid-row: 1 / span 2;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: blue;
}


button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

body {
    background-image: url("https://www.pngkey.com/png/full/979-9791878_cold-as-ice-but-has-a-warm-heart.png");
    background-repeat: no-repeat;

}

a:link {
    color: #7783fc;
    text-decoration: none;
    transition: 0.2s;
}

a:visited {
    color: #7783fc;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
    transition: 0.2s;
}

a:active {
    color: green;
    text-decoration: none;
}

@media (min-width: 308px) {
    body {
        background-position: 200px 20px;
        
    }
}

@media (max-width: 767px) {
    body {
        background-position: 140px 10px;
    }
}