{% extends 'base.html'%}

{% block title %} {{object.activity}} {% endblock %}

{% block content %}
    <h1>{{object.activity}}</h1>
    <ul>
        Date and Time: {{object.target_datetime|date:'m/d/Y, h:i A'}}<br>
        Estimated Hours: {{object.estimated_hours}}<br>
        {{object.course.code}} {{object.course.title}} - {{object.course.section}}<br>
        Mode: {{object.location.mode}}<br>
        Venue: {{object.location.venue}}<br>
    </ul>

    <form action="./edit">
        <button type="submit">Edit Activity</button>
    </form>

{% endblock %}
