{% extends 'base.html' %}
{% load static %}

{% block title %} Widget v2 {% endblock %}
{% block content %}

<h1>Welcome to Widget!</h1>
<h2>Widget Users:</h2>

<ul>
 {% for user in users %}
    <li>
        <a href="{{user.get_absolute_url}}">
                {{ user.last_name }}, {{ user.first_name }}
        </a>
    </li>
{% endfor %}
</ul>

<form action="/widgetusers/add">
    <button type="submit">Add Widget User</button> 
</form>

<li><a href="/announcements">Announcement Board</a> <br></li>
<li> <a href="/forum">Forum</a> <br></li>
<li> <a href="/assignments">Assignments</a> <br></li>
<li><a href="/calendar">Calendar</a> <br></li>

{% endblock %}

